* {
    font-family: "Nunito",
    sans-serif;
}

.main-content {
    width: 100%;
}
.right-content{
font-size: 3vh;
}

.main-content .headings h1 {
    font-size: 7vh;
    display: flex;
    text-shadow: 10px;
    justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bolder;
}

.main-content .sub-heading h3 {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px ;
    justify-content: center;
    font-size: 4vh;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-between;
}

.right {
    width: inherit;
    margin: 10px 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    // margin: 10px 10px;
    padding: 20px 20px;
}

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.outline-warning {
    border-radius: 10px;
    background-color: rgb(236, 124, 45);
    margin: 5px 5px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    border: none;
}

// .outline-warning :hover {
//     background-color: #e0dd27;
//     cursor: pointer;
// }

/*
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
} */

/* Darker background on mouse-over */
/* .btn:hover {
  background-color: RoyalBlue;
} */

.fa {
    padding: 5px;
    font-size: 25px;
    margin: 5px 5px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    background: #e0dd27;
    color: white;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.changeble-content {
    display: flex;
    box-sizing: border-box;
    /* width: 80%; */
    /* margin: 50px 50px 50px 50px; */
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    /* align-items: center; */
}

/* .roadmapimg {
  text-align: center;
  display: block;
} */
@media only screen and (max-width: 640px) {
    .left {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .info {
        flex-wrap: wrap-reverse;
    }
}

.roadmapimg {
    display: block;

    width: 100%;

    margin-left: auto;

    margin-right: auto;
}



.na{
    padding: 10px;
    margin: 10px;
}
.other-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    flex-wrap: wrap;
    font-size: 4vh;
}