.content-container {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  .l {
    position: relative;
  }
  .ll {
    height: auto;
    margin-left: auto;
    margin-left: auto;
    display: block;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: -103px;
  }
  .container {
    margin: 0 auto;
    display: flex;
    margin-top: 150px;
  }
  .container::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    background-color: transparent;
    background-image: radial-gradient(#000066 2px, transparent 1px);
    background-position: 1px 1px;
    background-size: 5px 5px;
    content: "";
    opacity: 0.2;
  }
  .side1 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 50%;
    padding-right: 150px;
    align-items: flex-start;
    color: #000066;
  }

  .common {
    width: 100%;
    display: flex;
    align-items: baseline;
    float: left;
    flex-direction: column;
  }
  .heading {
    display: flex;
    align-items: baseline;
  }
  h1 {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
  }

  p {
    text-align: left;
  }
  .icon {
    margin-right: 30px;
    font-size: 3rem;
    margin-bottom: -6px;
  }
  h3 {
    margin-bottom: 0;
  }
  h3 + p {
    margin-top: 0;
  }
  hr {
    border: 1px solid #ec7c2d;
    width: 100%;
    height: 2px;
    background: #ec7c2d;
    box-shadow: none;
    color: #ec7c2d;
  }

  .side2 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 50%;

    align-items: flex-start;

    color: #000066;
  }

  .mainHeading {
    color: #ec7c2d;
  }

  .tab_h {
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    /* display: inline-block; */
    /* padding: 8px; */
    padding-left: 0px;
  }

  .round-tab_h {
    margin-bottom: 6px;
    margin-right: 8px;
    border-radius: 25px;
    padding: 2px 7px;
    color: #eceae7;

    background-color: #000066;
  }

  .year {
    padding: 6px;
    border-radius: 3px;
    font-size: 12px;
    background-color: #000066;
    color: white;
  }

  .cot {
    display: flex;
    height: auto;
    margin: 0 auto;
    justify-content: end;
  }

  .trophy {
    margin-bottom: -2px;
  }
  /* timeline css */

  .hobbiesList {
    margin-top: -6px;
  }

  .rewardList {
    margin-top: -6px;
  }
  .vtl {
    position: relative;
    padding: 10px 10px 10px 50px;
  }

  .vtl::before {
    content: "";
    width: 5px;
    background-color: #ec7c2d;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
  }

  /* (C) STYLES FOR THE EVENTS */
  .event {
    position: relative;

    margin-bottom: 10px;
  }

  .post {
    text-align: left;
  }

  div.event::after {
    content: "";
    background: #fff;
    border: 4px solid #ec7c2d;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: -44px;
  }

  @media only screen and (max-width: 798px) {
    .container {
      flex-direction: column;
    }

    .side1 {
      width: 100%;
      max-width: 100%;
      padding-right: 0;
    }
    .side2 {
      width: 100%;
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 428px) {
    .ll {
      width: 100%;
    }
  }

  @media screen and (max-width: 420px) {
    .ll {
      width: 100%;
    }
  }

  @media screen and (max-width: 400px) {
    .ll {
      width: 100%;
      margin-left: 18px;
      margin-right: 20px;
    }
  }
}
