$font1: "Nunito", sans-serif;
@import "../App/colors.scss";
.work-with-us-container {
  .work_with_us {
    text-align: center;
    font-family: "Poppins", "sans-serif";
    background-image: linear-gradient(
      #ffffff 0%,
      #fff 30%,
      $color-primary 100%
    );
    padding: 20px;
  }

  .work_with_us h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    @media (max-width: 900px) {
      font-size: 1.8rem;
      line-height: 2.3rem;
    }
    @media (max-width: 500px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    margin-bottom: 1rem;
  }
  .work_with_us p {
    font-size: 1.5rem;
    line-height: 2rem;
    @media (max-width: 900px) {
      font-size: 1.3rem;
      line-height: 1.8rem;
    }
    @media (max-width: 500px) {
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
    margin-top: 0px;
  }

  .transitionbtn,
  .transitionbtn::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .transitionbtn {
    background-color: $color-secondary;
    border: 2px solid $color-secondary;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-weight: bold;
    cursor: pointer;
    margin: 1em auto;
    padding: 8px 14px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 1.4rem;
    a {
      color: white;
      &:hover {
        color: $color-secondary;
        text-decoration: none;
      }
      &:active,
      &:visited {
        text-decoration: none;
      }
    }
    @media (max-width: 1000px) {
      font-size: 1.2rem;
    }
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .transitionbtn::before,
  .transitionbtn::after {
    background: #fff;
    content: "";
    position: absolute;
    z-index: -1;
  }
  .transitionbtn::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
  }

  .transitionbtn:hover:after {
    width: 100%;
  }

  .transitionbtn:hover {
    color: $color-secondary;
    background-color: rgb(255, 253, 253);
    a {
      color: $color-secondary;
    }
  }
  .transitionbtn:hover {
    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);
  }

  @media screen and (max-width: 768px) {
    .work_with_us h2 {
      font-size: 1.7rem;
      margin-bottom: 0px;
    }
    .work_with_us p {
      font-size: 1.3rem;
      margin-top: 0px;
    }
    .transitionbtn {
      padding: 15px;
      /* font-size: 0.5em; */
    }
  }

  @media screen and (max-width: 500px) {
    .work_with_us h2 {
      font-size: 1.4em;
      margin-bottom: 0px;
    }
    .work_with_us p {
      font-size: 1em;
      margin-top: 0px;
    }
    .transitionbtn {
      padding: 10px;
      /* font-size: 0.5em; */
    }
  }

  @media screen and (max-width: 426px) {
    .work_with_us h2 {
      font-size: 1.2rem;
    }
    .work_with_us p {
      font-size: 0.95rem;
    }
    .transitionbtn {
      width: 100%;
      padding: 8px;
      font-size: 16px;
    }
  }
}
