.cardsFoundingMemberDiv
{
text-align:left;
   display:flex;
   justify-content: center;
   flex-wrap:wrap;
   margin :0 auto;
   margin-top:10%;    
}
.BlockHeading{
   font-size: 40px;
}

.aboutCODE .role{
   
   width: 100%;
   text-align: center;
   
}
.cardFounder{
   box-shadow: 0px 0px 8px 0px #ded5d5;
   box-sizing: border-box;
   width: 300px;
   border-radius: 10px;
   margin-bottom: 5%;
   margin-left: 2%;
   margin-right: 2%;
   padding: 20px;
   text-align: center;
}
.quoteFounder
{  
   padding:4px;
   margin-top:3%;
   font-size: 16px;
   font-weight: 500;
}
.imagesFounder
{  max-width:200px;
   display: block;
  
   width:100%;
   height:auto;
   padding-left: 0;
}
.FounderTitle
{ 
   margin-top:10px;
   margin-bottom: 6px;  
   font-size: 21px;
   /* line-height: 27px; */
   color: inherit;
   width: 100%;
   color:rgb(32, 31, 31);
}
.FounderTitle >span
 {  margin-left:3%;
    color:grey;
}
.FounderTitle >span >p
{
   color:grey;
}
.FounderDesc
{
   font-size: 16px;
   line-height: 24px;
   font-weight: normal;
   color: inherit;
   width: 100%;
   color:rgb(160, 150, 150);
   
}
  
 
.imgFounder
{ display: inline-block;

    margin:0 auto;
    margin-top:10%;
   border-radius: 50%;
   overflow: hidden;
}

@media only screen and (max-width: 425px){
    .role h1{
       font-size: 35px;
    }
    .BlockHeading{
      font-size: 35px;
   }
}