*:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #4a89dc;
  --bs-secondary: #656d78;
  --bs-success: #37bc9b;
  --bs-info: #3bafda;
  --bs-warning: #f6bb42;
  --bs-danger: #e9573f;
  --bs-light: #e6e9ed;
  --bs-dark: #434a54;
  --bs-font-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
*,
::after,
::before {
  box-sizing: border-box;
}
.resume-template3 .container{
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .resume-template3 .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .resume-template3 .container{
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .resume-template3 .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .resume-template3.container {
    max-width: 1060px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
hr {
  margin: 2rem 0;
  color: #adb5bd;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
hr:not([size]) {
  height: 1px;
}
.resume-template3{
  max-width:220mm;
}
.resume-template3 .h1,
.resume-template3 .h2,
.resume-template3 .h3,
.resume-template3 .h4,
.resume-template3 .h5,
.resume-template3 .h6,
.resume-template3 h1,
.resume-template3 h2,
.resume-template3 h3,
.resume-template3 h4,
.resume-template3 h5,
.resume-template3 h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  line-height: 1.2;
}
.name {
  margin-top: 1rem!important;
  color:rgb(35,35,80);
  margin-bottom:0;
}
.resume-template3 .h1,
.resume-template3 h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  .resume-template3 .h1,
  .resume-template3 h1 {
    font-size: 2.5rem;
  }
}
.resume-template3 .h2,
.resume-template3 h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  .resume-template3 .h2,
  .resume-template3 h2 {
    font-size: 2rem;
  }
}
.resume-template3 .h3,
.resume-template3 h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  .resume-template3 .h3,
  .resume-template3 h3 {
    font-size: 1.75rem;
  }
}
.resume-template3 .h4,
.resume-template3 h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .resume-template3 .h4,
  .resume-template3 h4 {
    font-size: 1.5rem;
  }
}
.resume-template3 .h5,
.resume-template3 h5 {
  font-size: 1.25rem;
}
.resume-template3 .h6,
.resume-template3 h6 {
  font-size: 1rem;
}
.resume-template3 p {
  margin-top: 0;
  margin-bottom: 1rem;
  padding:0;
}
b,
strong {
  font-weight: bolder;
}

.resume-template3 a {
  color: #4a89dc;
  text-decoration: underline;
}
.resume-template3 a:hover {
  color: #3b6eb0;
}
.resume-template3 a:not([href]):not([class]),
.resume-template3 a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

progress {
  vertical-align: baseline;
}
[hidden] {
  display: none !important;
}
.resume-template3 .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.resume-template3 .row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}
.resume-template3.col {
  flex: 1 0 0%;
}
@media (min-width: 576px) {
  .resume-template3 .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333%;
  }
  .resume-template3 .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66667%;
  }
}
@media (min-width: 768px) {
  .resume-template3 .col-md-5 {
    flex: 0 0 auto;
    width: 41.66667%;
  }
  .resume-template3 .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .resume-template3 .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333%;
  }
  .resume-template3 .offset-md-1 {
    margin-left: 8.33333%;
  }
}
@media (min-width: 992px) {
  .resume-template3 .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333%;
  }
  .resume-template3 .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66667%;
  }
}

.resume-template3 .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.resume-template3 .card > hr {
  margin-right: 0;
  margin-left: 0;
}
.resume-template3 .card-body {
  flex: 1 1 auto;
  padding: 2rem 2rem;
}
@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}
@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}
.resume-template3 .progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.resume-template3 .progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #4a89dc;
  transition: width 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .resume-template3 .progress-bar {
    transition: none;
  }
}
.resume-template3 .progress-bar-striped {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}
.resume-template3 .progress-bar-animated {
  -webkit-animation: 1s linear infinite progress-bar-stripes;
  animation: 1s linear infinite progress-bar-stripes;
}
@media (prefers-reduced-motion: reduce) {
  .resume-template3 .progress-bar-animated {
    -webkit-animation: none;
    animation: none;
  }
}
.resume-template3 .shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.my-1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.mt-1 {
  margin-top: 0.5rem !important;
}
.mb-1 {
  margin-bottom: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 1rem !important;
}
.mb-3 {
  margin-bottom: 2rem !important;
}
.mb-4 {
  margin-bottom: 3rem !important;
}
.p-1 {
  padding: 0.5rem !important;
}
.p-3 {
  padding: 2rem !important;
}
.px-3 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}
.pt-4 {
  padding-top: 3rem !important;
}
.pb-1 {
  padding-bottom: 0.5rem !important;
}
.pb-4 {
  padding-bottom: 3rem !important;
}
.text-center {
  text-align: center !important;
}
.text-secondary {
  color: #656d78 !important;
}
.text-white {
  color: #fff !important;
}
.text-muted {
  color: #6c757d !important;
}
.bg-primary {
  background-color: #4a89dc !important;
}
.bg-success {
  background-color: #37bc9b !important;
}
.bg-white {
  background-color: #fff !important;
}
@media (min-width: 768px) {
  .text-md-start {
    text-align: left !important;
  }
}
@media (min-width: 992px) {
  .p-lg-4 {
    padding: 3rem !important;
  }
  .px-lg-4 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}
hr {
  border-color: #e6e9ed;
}
.timeline {
  border-left: 2px solid #e6e9ed;
  padding: 1rem 0;
}

.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  margin-bottom: 2rem;
}

.timeline-card:last-child {
  margin-bottom: 1rem;
}

.timeline-card:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -41px;
  border: 2px solid;
  z-index: 2;
}

.timeline-card:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: currentColor;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}

.timeline-card-primary {
  border-left-color: #4a89dc;
}

.timeline-card-primary:before {
  border-color: #4a89dc;
}

.timeline-card-primary:after {
  background-color: #4a89dc;
}

.timeline-card-success {
  border-left-color: #37bc9b;
}

.timeline-card-success:before {
  border-color: #37bc9b;
}

.timeline-card-success:after {
  background-color: #37bc9b;
}

.cover {
  border-radius: 10px;
}

.cover-bg {
  background-color: #4a89dc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.12'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-radius: 10px 10px 0 0;
}

.avatar {
  max-width: 216px;
  max-height: 216px;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.avatar img {
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

@media (min-width: 48em) {
  .avatar {
    margin-bottom: -80px;
    margin-left: 0;
  }
}
/* @media print {
  .d-print-inline {
    display: inline !important;
  }
  .d-print-inline-block {
    display: inline-block !important;
  }
  .d-print-block {
    display: block !important;
  }
  .d-print-grid {
    display: grid !important;
  }
  .d-print-table {
    display: table !important;
  }
  .d-print-table-row {
    display: table-row !important;
  }
  .d-print-table-cell {
    display: table-cell !important;
  }
  .d-print-flex {
    display: flex !important;
  }
  .d-print-inline-flex {
    display: inline-flex !important;
  }
  .d-print-none {
    display: none !important;
  }
}

@media print {
  body {
    background-color: #fff;
  }
  .container {
    width: auto;
    max-width: 100%;
    padding: 0;
  }
  .cover,
  .cover-bg {
    border-radius: 0;
  }
  .cover.shadow-lg {
    box-shadow: none !important;
  }
  .cover-bg {
    padding: 5rem !important;
    padding-bottom: 10px !important;
  }
  .avatar {
    margin-top: -10px;
  }
  .about-section {
    padding: 6.5rem 5rem 2rem !important;
  }
  .skills-section,
  .work-experience-section,
  .education-section,
  .contant-section {
    padding: 1.5rem 5rem 2rem !important;
  }
  .page-break {
    padding-top: 5rem;
    page-break-before: always;
  }
} */
