@import "../App/colors.scss";
.write-article-container {
  .editor {
    min-height: 30rem;
  }
  h2.loading {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }
  .btn {
    background: $color-primary!important;
    border: 2px solid $color-primary!important;
    &:hover,
    &:active,
    &:focus {
      background: $color-secondary !important;
      border: 2px solid $color-secondary!important;
    }
    &:last-child {
      background: transparent;
      color: $color-primary;
      border: 2px solid $color-secondary!important;
      &:hover,
      &:active,
      &:focus {
        color: $color-secondary !important;
        border: 2px solid $color-primary!important;
        background: transparent!important;
      }
    }
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
