.our-team-main {
  .banner {
    background-color: white;
    padding: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
  }

  .content {
    margin-right: 10px;
    width: 600px;
  }
  .b {
    margin-bottom: 10px;
    font-size: 4em;
    color: black;
  }
  .banner .content h1 {
    font-size: 3rem;
    font-weight: 800;
  }
  .banner .content p {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height:2rem;
  }

  .banner .image {
    max-width: 380px;
  }

  @media only screen and (max-width: 800px) {
    .banner .content h1 {
      font-size: 36px;
    }

    .content,
    .image {
      width: fit-content;
      margin: 10px 0px;
    }
    .banner .content p {
      font-size: 1em;
    }
    .banner {
      justify-content: center;
      /* padding: 150px 20px 50px; */
      flex-direction: column;
    }
    .content {
      text-align: center;
    }
    .banner .image {
      max-width: 300px;
      height: auto;
      margin-left: 0px;
    }
  }

  @media only screen and (max-width: 550px) {
    .banner .content p {
      font-size: 1em;
    }
    .banner {
      justify-content: center;
      flex-direction: column;
    }
    .banner .image {
      max-width: 300px;
      height: auto;
      margin-left: 0px;
    }
  }

  @media only screen and (max-width: 425px) {
    .banner .image {
      max-width: 250px;
    }

    .banner {
      margin-top: 0px;
    }
  }
}
