.cardEvent {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  max-width: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3%;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 3%;
  transition: transform 0.3s ease-in-out;
  background: white;
  a {
    cursor: pointer;
    &:hover,
    &:active,
    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }
  &:hover {
    transform: scale(1.01);
  }
  .card {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.3s;
    margin-bottom: 0 !important;
  }
  .cardHeader {
    font-family: Mulish, Helvetica, Arial, sans-serif;
    height: 15rem;
    position: relative;
  }
  .cardHeaderInner {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .cardImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .cardMain {
    text-align: left;
    padding: 20px 10px;
  }
  .cardMain > p {
    padding-left: 0;
    color: #111111;
    font-weight: 650;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: 14 * 19 * 1 + "px"; /* Fallback for non-webkit */
    // margin: 0 auto;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .eventDetails {
    display: flex;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 15px;
    justify-content: space-between;
  }
  .eventInfo {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
  }
  .eventInfo b {
    font-weight: 1000;
  }
  .eventInfo p {
    font-size: 12px;
    color: rgba(28, 28, 28, 0.6);
    margin: 0;
    padding: 0;
  }
  .shortDescription {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
    height: 4rem;
    color: #616161;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: 14 * 19 * 3 + "px"; /* Fallback for non-webkit */
    // margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tagsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.1rem;
    width: 100%;
    margin-bottom: 0.3rem;
    max-height: 68px;
    overflow: hidden;
  }
  .tags {
    height: fit-content;
    margin-right: 8px;
    margin-bottom: 8px;
    color: #616161;
    background: #eee;
    border-radius: 25px;
    padding: 4px 14px;
    font-size: 12px;
  }

  .cardMain > p {
    font-size: 18px;
    margin: 0.3rem 0 0.6rem 0;
  }
}
