$theme-colors: (
  "primary": #ff9b21,
  "danger": #ff4136,
  "info": #a639e3,
);
#app{
  width:100vw;
  overflow: hidden;
}
a{
  text-decoration: none;
  &:visited{
    color:unset;
  }
}
body{
  font-family: "Nunito", sans-serif;
}
p,span,ul,li{
  padding:0;
  margin:0;
}

.link,
.link:active,
.link:visited {
  color: #ff9b21;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.05rem;
}
.main-container {
  margin: 0;
  padding: 1rem 3rem;
  width: 100vw;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  @media (max-width: 500px) {
    padding: 1rem 0.5rem;
  }
  @media (min-width: 1200px) {
    padding: 1rem 6rem;
  }
}

// ===========
// ===========
// ===========
// ===========
// -----------
// -----------
// -----------
// -----------
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 