@import "./colors.scss";
$theme-colors: (
  "primary": #ff9b21,
  "danger": #ff4136,
  "info": #a639e3,
);
#app {
  width: 100vw;
  overflow: hidden;
}
a {
  text-decoration: none;
  &:visited {
    color: unset;
  }
}
body {
  font-family: "Nunito", sans-serif !important;
}
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}
.default-btn {
  color:white !important;
  font-weight: 700 !important;
  background: $color-primary !important;
  background-color: $color-primary !important;
  transition: all 0.3s ease-in-out !important;
  border-radius: 5px;
  border: none !important;
  &:hover,
  &:active,
  &:focus {
    border: none !important;
    box-shadow: none !important;
    background-color: $color-secondary;
    background: $color-secondary !important;
    transform: scale(1.05);
  }
}
.round-corner {
  border-radius: 30px !important;
}
.link,
.link:active,
.link:visited {
  color: #ff9b21;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.05rem;
}
.main-container {
  margin: 0;
  padding: 1rem 3rem;
  width: 100vw;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  @media (max-width: 500px) {
    padding: 1rem 0.5rem;
  }
  @media (min-width: 1200px) {
    padding: 1rem 6rem;
  }
}
.modal .modal-footer .btn-warning {
  background: $color-primary !important;
  &:hover {
    background: $color-secondary !important;
  }
}
.modal-header {
  position: relative;
  overflow-x: hidden;
}
.scroller {
  background: $color-primary;
  position: absolute;
  height: 0.3rem;
  width: 80%;
  top: 0;
  left: 0;
  animation: scroll 1.2s linear infinite;
}
.tags-input {
  .tagify {
    --tags-focus-border-color: #dddddd !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    .tagify__input {
      padding-left: 5px;
      padding: 10px;
    }
  }
}