.btn-default {
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #fff;
  background: rgba(58, 133, 191, 0.75);
}

.fontType {
  font-family: "Nunito", sans-serif;
  color: black;
}

.submitBorder {
  border-radius: 4px;
}
.sidebar {
  .sidebar-wrapper {
    height: calc(100vh - 236px);
    padding-bottom: 0;
  }
  .article-collapse-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 15px 0;
    padding: 10px 8px;
    cursor: pointer;
    p {
      font-size: 12px;
      color: #66615b;
      opacity: 0.7;
      font-weight: 600;
    }
  }
  li {
    padding: 0;
  }
  ul {
    padding: 0;
    a {
      margin: 0;
      padding: 0;
      p {
        padding: 0;
      }
    }
  }
}
