.verification-result-container {
  margin: 0;
  padding: 1rem 3rem;
  width: 100vw;
  height: calc(100vh - 10rem);
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 500px) {
    padding: 1rem 0.5rem;
    height: calc(100vh - 8rem);
  }
  @media (min-width: 1200px) {
    padding: 1rem 6rem;
  }
  .button-container {
    text-align: center;
    margin-top: 2.2rem;
    @media (max-width: 500px) {
      margin-top: 2.5rem;
    }
    button {
      background: #ff9b21;
      border: none;
      outline: none;
      padding: 0.5rem 1.5rem;
      width: fit-content;
      border-radius: 2rem;
      color: white;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      @media (max-width: 599px) {
        width: 100%;
      }
    }
    @media (max-width: 599px) {
      text-align: center;
    }

    @media (min-width: 750px) and (max-width: 999px) {
      button {
        font-size: 1.3rem;
      }
    }
  }
}
.certificate-found {
  position: relative;
  img {
    position: absolute;
    width: 25rem;
    top: -1rem;
    right: -75%;
    @media (min-width: 1451px) {
      top: -6.5rem;
    }
    @media (min-width: 1151px) and (max-width: 1450px) {
      width: 23rem;
      right: -88%;
      top: -5rem;
    }
    @media (min-width: 1000px) and (max-width: 1150px) {
      width: 20rem;
      right: -95%;
      top: -4rem;
    }
    @media (min-width: 750px) and (max-width: 999px) {
      width: 15rem;
      top: -1rem;
      right: -95%;
    }
    @media (max-width: 749px) {
      display: none;
    }
  }
  .data-container {
    position: relative;
    text-align: center;
    .fa-check-circle {
      position: absolute;
      top: -8rem;
      left: calc(50% - 3rem);
      color: #42b883;
      font-size: 6rem;
      margin-bottom: 1rem;
    }
    h1 {
      font-size: 5rem;
      font-weight: 600;
      margin-bottom: 4rem;
    }
    p {
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 2rem;
      margin: 0;
      padding: 0;
    }
    @media (max-width: 1450px) {
      h1 {
        font-size: 3.5rem;
        margin-bottom: 3rem;
      }
      p {
        font-size: 1.3rem;
        line-height: 2.5rem;
      }
    }
    @media (min-width: 1000px) and (max-width: 1150px) {
      h1 {
        font-size: 3rem;
        margin-bottom: 2.5rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 2.2rem;
      }
    }
    @media (min-width: 750px) and (max-width: 999px) {
      h1 {
        font-size: 2.2rem;
        margin-bottom: 2.8rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 1.9rem;
      }
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
    }
  }
  .button-container {
    button {
      position: relative;
      min-width: 250px;
    }
    i {
      color: white;
      font-size: 2.35rem;
      margin-left: 0.9rem;
      position: absolute;
      right: 0.2rem;
      top:calc(50% - 1.1rem);
    }
    @media (min-width: 750px) and (max-width: 999px) {
      i {
        font-size: 2.1rem;
        right: 0.1rem;
        top: calc(50% - 1rem);
      }
    }
  }
}
.certificate-not-found {
  text-align: center;
  margin-top: -10rem;
  img {
    height: 60%;
  }
  .message-container {
    text-align: center;
    h1 {
      font-weight: 600;
    }
    p {
      font-size: 1.1rem;
    }
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.getCertificateNumber {
  label { position: absolute; top:-1000px; left:-1000px; }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    background: linear-gradient(
      90deg,
      rgba(250, 103, 4, 1) 0%,
      rgba(253, 33, 0, 1) 100%
    );

    color: white;
    font-weight: bold;
    border-left: solid 40px rgb(19, 19, 19);
    height: 10rem;
    h1 {
      font-weight: 800;
      margin: 0;
      padding: 1rem calc(3rem - 40px);
      font-size:2.5rem;
      @media (min-width:700px) and (max-width:1200px){
        font-size:2rem;
      }
      @media (max-width: 500px) {
        padding: 1rem 2px;
      }
      @media (min-width: 501px) and (max-width: 700px) {
        padding: 1rem calc(3rem - 25px);
      }
      @media (min-width: 1200px) {
        padding: 1rem calc(6rem - 40px);
      }
    }
    @media (max-width: 500px) {
      border-left: solid 8px black;
      h1 {
        font-size: 1.4rem;
      }
    }
    @media (min-width: 501px) and (max-width: 700px) {
      border-left: solid 25px black;
      h1 {
        font-size: 1.8rem;
      }
    }
  }

  .form-container {
    max-width: 500px;
    min-height: 13rem;
    padding: 30px 0 0 0;
    margin: 1rem auto 0 auto;
  }

  .button {
    max-width: 45%;
    display: inline;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px 25%;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-family: inherit;
    display: block;
    width: 100%;
    margin-top: 2.2rem;
  }

  .input-container {
    text-align: center;
    h2 {
      font-weight: 600;
      margin-bottom: 1.5rem;
      font-size:1.5rem;
      @media (max-width: 500px) {
        font-size: 1.2rem;
      }
    }
    input {
      text-align: center;
      @media (min-width:350px){
        width: 300px;
      }
      height: 40px;
      margin: 8px 25px;
      font-size: 18px;
      font-weight: 400;
      color: black;
      border: none;
      border-radius:0;
      border-bottom: 1px solid black;
      outline: none;
    }
  }
}
// .verification-report-container{
//   width:0;
//   height:0;
// }
.report-page {
  width: calc(220mm - 2.4rem);
  height: 297mm;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #ff9b21;
  padding: 2rem;
  margin-top: 50rem;
  position: relative;
  .logo-container {
    width: 100%;
    text-align: center;
    margin: 5rem 0;
    img {
      width: 10rem;
    }
  }
  .report-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    h1 {
      font-size: 2rem;
      margin-top: 2rem;
      text-align: center;
      color: #ff9b21;
      font-weight: 600;
      margin-bottom: 5rem;
      text-decoration: underline;
      strong {
        color: #ff9b21;
      }
    }
    table {
      width: 50%;
      td {
        padding: 1rem;
        &:first-child {
          font-weight: 600;
          min-width: 180px;
        }
      }
    }
  }
  .pioneers-container {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    .CEOs,
    .executives {
      display: flex;
      margin: 2rem 0;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 33%;
        h2 {
          font-size: 1.1rem;
          font-weight: 800;
          color: black;
          margin: 0;
        }
        span {
          font-size: 0.9rem;
          font-weight: 800;
          color: gray;
          padding:0;
          margin:0;
          width:unset;
        }
      }
    }
  }
}
