// .add-project-form-main {
//   padding: 5vw 10vw;
//   text-align: left;
//   height: unset;
//   label {
//     margin: 10px;
//   }

//   h1 {
//     font-weight: 800;
//   }

//   p {
//     font-weight: 600;
//   }

//   input {
//     border: 2px solid black;
//     margin: 5px;
//     width: 30vw;
//   }

//   button {
//     margin: 10px;
//     border: none;
//     border-radius: 10px;
//     padding: 10px 20px;
//     background-color: #1a1c20;
//     color: #fff;
//   }
// }
