 footer
 { 
   width: 100%;
   bottom: 0;
}
.footerInnerDiv  
{    padding:30px;
   padding-bottom:0;
   display: flex;
   justify-content: center;
   font: 400 14px/16px Segoe UI,system-ui,-apple-system,sans-serif;
   text-align: center;
    flex-wrap: wrap;
   color: #DBDCE1;
   background: #353748;
}
.footerDiv{
   text-align:center;
}
.footerDiv h3{
   font-size:1.17rem;
   font-weight: 500;
   margin:1rem 0;
}
.footerLeft
{
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right: -16px;
   margin-left: -16px;
}
.footerDiv1 ul 
{
    
   text-align: left;
   padding-left:0;
   padding-right:70px;
}
.footerDiv1  li
{
display:block;
max-width:200px;
margin:10%;
color:    #DBDCE1;;
padding: 0 16px;
position: relative;
margin-left:0;
width:110px;
}
.footerDiv2  li
{  display:block;
   max-width:300px;
   margin:10%;
   color:    #DBDCE1;;
   padding: 0 16px;
   position: relative;
   margin-left:0;
   width:100px;
}
.footerDiv2 ul 
{
   padding-right:70px;
   text-align: left;
   padding-left:0
}
h3{
   text-align:left;
   padding: 0 16px;
}
.footerRight
{
   text-align:left;
   max-width: 400px;;
}
.footerRight   p{
   padding:0;
   font-weight: 900;
   font-size:15px;
   margin:1rem 0;
   border: 0;
   font: inherit;
   font-size: 100%;
   vertical-align: baseline;word-spacing: 2px;
   line-height:15pt;
}
footer hr{
   margin:0;
   
}
.copyright
{
   background: #353748;
   color:#DBDCE1;
   padding:10px;
   letter-spacing: 1px;;    
}