.event-details-main {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(28, 24, 51);
    margin-bottom:.5rem;
    margin-top:1.2rem;
    @media (max-width: 500px) {
      font-size: 1.2rem;
    }
    @media (max-width: 1000px) {
      font-size: 1.3rem;
    }
  }
  .eventDetails {
    display: flex;
    width: 100%;
    background-color: #ececec;
    justify-content: center;
  }
  .eventDetailsOuter {
    max-width: 1600px;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
  }

  .headerImage > img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    max-height: 450px;
  }
  .eventBody {
    width: 73%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .eventINfoSection > h1 {
    margin: 40px 0 0;
    margin-bottom:20px;
    font-size: 36px;
    letter-spacing: 0.4px;
    text-align: left;
    font-weight:600;
  }

  .registerDetails {
    margin-top: 14px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.14);
    text-transform: uppercase;
    font-weight: 600;
    flex-wrap: wrap;
    margin-bottom:1.5rem;
  }

  .registerButton {
    text-decoration: none;
    padding: 10px 34px;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: rgb(236, 124, 45);
    letter-spacing: 0.2px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin-right: 34px;
    margin-top: 0;
    transition: transform .3s ease-in-out;
    transform: scale(1);
    margin-bottom:1rem;
    &:hover{
      transform: scale(1.01);
    }
  }
  .event {
    margin-top: 0;
    display: flex;
    margin-right: 30px;
    font-size: 13px;
    line-height: 13px;
    margin-bottom:1rem;
  }
  .event > p {
    margin: 0 0 0 5px;
    color: rgb(85, 85, 60);
    font-weight: 600;
  }
  .detailedContent > h3 {
    margin-top: 28px;
    margin-bottom: 10px;
    color: rgb(70, 70, 50);
    padding-left: 0;
  }
  .detailedContent{
    p{
      margin:.8rem auto;
    }
    h1,h2,h3,h4,h5,h6{
      margin-top:1.5rem;
      margin-bottom:1.5rem;
    }
  }
  .description {
    text-align: left;
    span {
      text-align: left;
      font-size: 15px;
      white-space: pre-wrap;
      color:rgb(85, 85, 60);
      background-color: #ffffff;
    }
    strong{
      font-weight: 600;
    }
  }
  ul {
    padding-left: 0;
    list-style: circle;
  }
  li {
    margin-top: .3rem;
    color: rgb(85, 85, 60);
    margin-left: 1rem;
  }
  @media (max-width: 768px) {
    .eventBody {
      width: 90%;
    }
  }
}
