<!-- <html>
    <head>
        <title>profile</title>
    </head>
    <body> 
              -->

<h1 class="text-center">Code Message For Mobile Verification</h1>
<div class="container text-center p-3">
  <h5>
    One Time Password link been sent to your registered mobile number. Please
    enter OTP....
  </h5>
  <form method="POST" action="/post/verifyOtp">
    <input type="text" placeholder="One Time Password" name="otp" />
    <button class="btn btn-primary" type="submit">Verify</button>
  </form>
</div>

<!-- </body>
              </html> -->
