<!-- <html>
    <head>
        <title>profile</title>
    </head>
    <body> 
              -->
              <%-include('./partials/head') %>
              <div class="container">
                <div class="row mt-3">
                    <!-- <label for="" class="col-md-3">Verify your email</label> -->
                    <div class="col-md-9">
                        <form method="GET" action="/sendVerificationEmail">
                            <% if(!emailVerified) {%>
                                <button type="submit" class="btn btn-primary">Verify your Email</button>
                            <% } else { %>
                                <button type="submit" class="btn btn-primary" disabled>Your email has been verified!</button>
                            <% } %>
                        </form>
                    </div>
                
                </div>
                <div class="row mt-3">
                    <div class="col-md-9">
                        <form method="GET" action="/sendOtp">
                            <% if(!phoneNumberVerified) {%>
                                <button type="submit" class="btn btn-primary">Verify your Mobile</button>
                            <% } else { %>
                                <button type="submit" class="btn btn-primary" disabled>Your mobile number has been verified!</button>
                            <% } %>
                        </form>
                    </div>
                
                </div>
                  
               </div>
        

    <!-- </body>
</html> -->