<!-- <html>
    <head>
        <title>profile</title>
    </head>
    <body> 
              -->
<%-include('./partials/head.ejs')%>
<h1 class="text-center">Code Message</h1>
<div class="container text-center">
  A verification link has been sent to your registered email address. Click on
  the link to verify your email address
  <h5></h5>
</div>

<!-- </body>
</html> -->
