<!-- <html>
    <head>
        <title>profile</title>
        <%-include('../common/head') %>
    </head>
    <body> 
              -->

              <div class="container">
                <div class="row mt-3">
                    <label for="" class="col-md-3">Verify you email</label>
                    <div class="col-md-9">
                        <button type="button" class="btn btn-secondary">Email</button>
                    </div>
                
                </div>
                <div class="row mt-3">
                    <label for="" class="col-md-3">Verify you Mobile No.</label>
                    <div class="col-md-9">
                        <button type="button" class="btn btn-secondary">Mobile</button>
                    </div>
                
                </div>
                <div  >
                     <button type="button" class="bton btn-primary">Login</button>
                </div>
                  
               </div>
        

    <!-- </body>
</html> -->