@import "../App/colors.scss";
.pagination {
  display: inline-block;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  .page-link {
    color: $color-primary;
    font-weight: 600;
    &:hover,
    &:active,
    &:focus {
      background-color: rgb(255, 250, 220);
      border-color: rgb(245, 219, 163);
    }
    &:focus{
      box-shadow: 0 0 0 0.2rem $box-shadow-color;
    }
    .page-link:hover:not(.active) {
      background-color: rgb(245, 219, 163);
      border-radius: 100px;
    }
  }
  .page-item.active{
    .page-link{
      background-color: $color-primary;
      border-color: $color-primary;
      color:white;
    }
  }
}