.aboutCODE {
  .valueCard > span {
    padding: 0;
    padding-right: 10px;
  }

  .valuesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
  }

  .valueCard {
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 8px 0px #c3c0c0;
    padding: 16px;
    margin-top: 3%;
    padding-top: 22px;
    font-size: 18px;
    color: #504d4d;
    border-radius: 4px;
    margin: 14px;
    width: 330px;
  }

  .valueCard p span{
    text-align: left;
    margin-right:10px ;
  }

  @media only screen and (max-width: 860px) {
    .valuesDiv{
      justify-content: space-between;
    }
    
    .valueCard{
      padding-right: 8px;
      padding-left: 8px;
    }


  }

  @media only screen and (max-width: 795px) {
    .valueCard {
      min-width: 250px;
      width: 90%;
      margin: 10px auto;
    }
  }
}
