.blogs-individual-container-main {
  font-family: "Poppins", sans-serif;
  .l {
    position: relative;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin: 1rem 0;
    font-size:1.5rem;
    @media (max-width:500px){
        font-size:1.4rem;
    }
  }
  .ll {
    height: auto;
    margin-left: auto;
    margin-left: auto;
    display: block;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  .container {
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
  }

  .main_container {
    display: flex;
    flex-direction: column;
    max-width: 66.66%;
    width: 66.66%;
    background: #fff;
  }

  .recent_container {
    max-width: 33.33%;
    width: 33.33%;
    background-color: rgb(255, 255, 255);
    padding-left: 50px;
    flex: 0 0 33.33%;
  }

  .cat_position {
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
  }

  .cat_info {
    z-index: 4;
    font-weight: 600;
    /* font-size: 11px; */
    align-items: center;
    flex-flow: row wrap;
  }

  .catagory {
    padding: 4px 12px;
    color: #fff;
    background-color: rgb(243, 164, 45);
    text-decoration: none;
    letter-spacing: 0.125rem;
    white-space: nowrap;
  }
  .date::before {
    content: url("../assets/date.png");
    display: inline;
    margin-right: 8px;
    font-size: 10px;
  }
  .article_heading {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .k {
    position: relative;
  }
  .l {
    position: relative;
    width: 100%;
  }
  .l img {
    /* height: 100%; */
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-position: center;
    object-fit: cover;
    /* position: relative;
    display: block; */
  }
  img {
    max-width: 100%;
    vertical-align: middle;
  }
  .image_caption.overlay {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 3;
    padding: 7px 10px;
    max-width: 70%;
    background-color: rgb(8, 8, 8);
    color: #fff;
    opacity: 1;
  }
  .image_caption {
    margin: 0;
    text-align: center;
    font-size: 12px;
  }

  .overlay::before {
    content: url();
  }
  .op {
    background-color: #fff;
    margin-bottom: 50px;
  }
  .blogs-sidebar .op {
    width: 100%;
  }
  .op {
    position: relative;
  }
  .search_box {
    display: block;
    overflow: hidden;
  }
  .search form {
    position: relative;
    display: block;
  }
  .search_form {
    margin-right: auto;
    margin-left: auto;
    max-width: 460px;
  }
  .search .search_input {
    height: 40px;
    display: block;
    margin: 0;
    padding: 5px 50px 5px 20px;
    width: 99%;
    background-color: rgb(238, 228, 228);
    border: none;
  }
  .article_footer {
    position: relative;
    display: block;
    margin-top: 40px;
    padding-top: 35px;
    line-height: 26px;
  }

  .article_footer::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    background-color: transparent;
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-position: 1px 1px;
    background-size: 5px 5px;
    content: "";
    opacity: 0.2;
  }
  .tag {
    display: flex;
    flex-flow: row wrap;
  }
  .article_footer a {
    display: inline-flex;
    margin: 2px;
    /* padding: 2px 10px; */
    text-decoration: none;
    line-height: none;
    font-size: 11px;
  }
  .round-tab {
    margin-bottom: 6px;
    margin-right: 2px;
    border-radius: 25px;
    padding: 2px 6px;
    color: #1f1e1d;
    background-color: #eceae7;
  }
  .tag_icon::before {
    display: inline-block;
    margin-right: 5px;
    min-width: 10px;
    font-style: normal;
  }
  .article_footer .article_tag {
    display: inline-block;
    text-align: left;
  }

  .article_footer .tag_icon {
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 12px;
  }
  .tag_icon {
    display: inline-block;
    margin: 2px 0;
    max-width: 75px;
    line-height: inherit;
  }
  /* share media */
  .social_media_cot {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: 40px auto 0 auto;
  }
  .share_tab {
    /* display: flex; */
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
  }
  .share_tab::before {
    content: url("../assets/share.webp");
    margin-right: 7px;
  }
  .share_no {
    color: orange;
    font-size: 1.6rem;
  }
  .share {
    margin-left: 7px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
  }

  /* social media */
  .social_media {
    display: flex;
    margin-left: auto;
    font-size: 16px;
    /* flex-flow: row wrap; */
    align-items: center;
  }
  .social_media_cot a {
    display: flex;
    height: 45px;
    /* width: 45px; */
    margin: 5px;
    background: #fff;
    line-height: 1;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
  }
  .social_media_cot i {
    font-size: 25px;
  }
  .facebook {
    padding-right: 7px;
  }
  .twitter {
    padding-right: 7px;
  }
  .pinterest {
    padding-right: 7px;
    padding-left: 7px;
  }
  .dont_show {
    display: none;
  }

  .mail {
    padding-right: 7px;
    padding-left: 7px;
  }
  .dont_show {
    display: none;
  }

  /* recent widget */
  .recent_widget {
    position: relative;
    margin-bottom: 20px;
    display: block;
  }
  .recent_post {
    font-size: 1rem;
  }
  .widget li {
    display: block;
    position: relative;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 0.95rem;
  }
  .post-date {
    position: relative;
    display: block;
    margin-top: 7px;
    font-size: 12px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  #link::before {
    display: inline;
    margin-right: 8px;
    font-size: 10px;
  }

  @media only screen and (max-width: 1000px) {
    .container {
      flex-direction: column;
      max-width: 100%;
      width: 100%;
    }
    .k {
      max-width: 100%;
    }
    .main_container {
      max-width: 100%;
      width: 100%;
      background: #fff;
    }
    .recent_container {
      max-width: 100%;
      width: 100%;
      /* background-color: rgb(255, 255, 255); */
      padding-left: 0;
      padding-right: 0;
      margin-top: 60px;
      flex: 0 0 100%;
    }
    .blogs-sidebar {
      display: block;
      margin-right: auto;
      margin-left: auto;
      max-width: 480px;
    }
  }

  @media only screen and (max-width: 767px) {
    .image_caption.overlay {
      position: relative;
      right: auto;
      bottom: 0;
      left: auto;
      padding: 5px 0;
      max-width: 100%;
      width: 100%;
      background: none;
      color: black;
      text-align: center;
      justify-content: center;
    }
    .article_heading {
      font-size: 1.5rem;
      line-height: 1.3;
    }
    .facebook::before {
      padding-left: 7px;
      /* padding-right: 7px; */
    }
    .twitter::before {
      padding-left: 7px;
    }
    .fb,
    .twi {
      display: none;
    }
  }

  @media only screen and (max-width: 479px) {
    .article_heading {
      font-size: 1.35rem;
    }
    .social_media_cot a {
      height: 40px;
      width: 35px;
    }
  }
}
