.suggestions-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    justify-items: center;
    .suggestion-card-main{
        width:100%;
        max-width:450px;
        margin:0;
    }
    @media (min-width:1200px) and (max-width:1750px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width:700px) and (max-width:1200px){
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width:699px){
        grid-template-columns: 1fr;
    }
}