/* Reset default Styles */
@import "../App/colors.scss";
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.main-header-nav-container {
  width: 100vw;
  margin: 0;
  padding: 0;
  height: auto;
  text-align: left;
  background: white;
  height: 100px;
  display: flex;
  align-items: center;
  &.fixed-top {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  nav,
  .nav,
  .nav a,
  .nav ul,
  .nav li,
  .nav div {
    margin: 0;
    padding: 0;
    outline: none;
  }

  nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  #menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  #menu.menu-open {
    @media (max-width: 1099px) {
      position: fixed;
      min-height: 100vh;
      z-index: 1250;
      top: 85px;
      overflow: auto;
    }
  }
  .nav {
    padding: 10px 0px;
  }

  nav #logo > img {
    width: 100px;
    margin-left: 20px;
  }

  .nav a,
  .cta-bar a {
    text-decoration: none;
  }

  .nav li,
  .cta-bar li {
    list-style: none;
  }

  /* Menu Container */
  .nav,
  .cta-bar {
    display: inline-block;
    position: relative;
    cursor: default;
    z-index: 500;
    padding-left: 0.5em;
  }

  /* Menu List */
  .nav > li,
  .cta-bar > li {
    display: block;
    float: left;
  }

  /* Menu Links */
  .nav > li > a,
  .nav > li > button {
    border: none;
    position: relative;
    display: block;
    z-index: 510;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 10px;
    background-color: transparent;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #111111;
    letter-spacing: 2px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .nav > li > a > img,
  .nav > li > button > img {
    display: inline-block;
    height: 10px;
    padding: 0px 5px;
  }

  .nav > li:first-child > a {
    border-radius: 5px;
    border-left: none;
  }

  /* Menu Dropdown */
  @media (min-width: 1100px) {
    .nav > li:hover > button,
    .nav > li:hover > a {
      color: #000;
      background: linear-gradient(45deg, #fbbb3b, #ec8c24, #ec7c2d, #e45c2c);
      border-radius: 10px;
      transition: 0.3s ease-in;
    }
    .nav {
      .expand-on-hover {
        .expand {
          //
          position: absolute;
          top: 50px;
          left: 0;
          display: block;
          width: 100%;
          overflow: hidden;
          //
          visibility: hidden;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          background: linear-gradient(360deg, #eee, #fff);
          border-radius: 20px;
          padding: 20px;
          li {
            padding: 5px 0px;
            display: list-item;
            a {
              color: $color-primary;
              font-weight: 500;
              letter-spacing: 1px;
              &:hover,
              &:visited,
              &:active {
                color: $color-secondary;
                font-weight: 700;
                transition: 0.2s ease;
              }
            }
          }
        }
        &:hover {
          .expand {
            visibility: visible;
            opacity: 1;
            transition: all 0.1s ease-in-out;
          }
        }
      }
    }
  }

  .cta-1 {
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border: 3px solid #ec7c2d;
    color: #ec7c2d;
    border-radius: 30px;
    padding: 10px 30px;
  }
  .cta-2 {
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border: 3px solid #ec7c2d;
    background: #ec7c2d;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    margin-left: 20px;
  }
  .cta-1:hover,
  .cta-2:hover {
    box-shadow: 0px 0px 20px #ec8c24;
    transition: 0.5s ease;
  }

  #ham {
    margin: 25px 30px 0px 0px;
    padding: 5px;
    display: none;
    visibility: hidden;
  }
  .slice {
    display: block;
    height: 4px;
    width: 25px;
    border-radius: 5px;
    margin-bottom: 3px;
    background: #111;
  }
  #ham.open > .slice {
    background: #e45c2c;
    transition: 0.4s ease;
  }

  .elevated {
    transform: rotate(270deg);
    width: 14px;
    opacity: 0.8;
  }
  #toggle {
    display: none;
    visibility: hidden;
  }

  /* responsive design */
  @media screen and (max-width: 1099px) {
    nav #logo > img {
      width: 80px;
    }

    #toggle:checked + #menu {
      display: block;
    }
    #ham {
      visibility: visible;
      display: block;
    }
    #menu {
      display: none;
      visibility: visible;
      width: 100%;
      border-radius: 20px;
      background: linear-gradient(180deg, #eee, #fff);
      min-height: unset;
      max-height: calc(100vh - 80px);
    }
    #menu > .nav li {
      display: block;
      width: 100%;
    }
    .nav {
      .expand-on-hover {
        .expand {
          max-height: 0;
          overflow: hidden;
          margin-left: 1rem;
          transition: max-height 0.3s ease-in-out;
          li {
            padding: 5px 0px;
            display: list-item;
            a {
              color: $color-primary;
              font-weight: 500;
              letter-spacing: 1px;
            }
          }
        }
        &:hover > button {
          background: linear-gradient(
            45deg,
            #fbbb3b,
            #ec8c24,
            #ec7c2d,
            #e45c2c
          );
          color: #000;
          border-radius: 10px;
          transition: 0.4s ease-in;
        }
        &:hover {
          .expand {
            max-height: 300px;
            transition: max-height 0.3s ease-in-out;
          }
        }
      }
    }
    .cta-bar {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .cta {
      display: block;
      margin: 10px;
    }
    #ham.open > .slice:last-child {
      display: none;
      visibility: hidden;
      transition: 0.1s;
    }
    #ham.open > .slice:first-child {
      background: #e45c2c;
      transform: rotate(45deg);
      transition: 0.3s ease;
    }
    #ham.open > .slice:nth-child(2) {
      background: #e45c2c;
      transform: rotate(135deg);
      margin-top: -7px;
      transition: 0.3s ease;
    }
  }
  .profile-link,
  .logout-link {
    @media (min-width: 1100px) {
      display: none !important;
    }
  }
  .nav-user-container {
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
    @media (max-width: 1099px) {
      display: none;
    }
    .avtar-img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      overflow: hidden;
      margin-right: 0.2rem;
    }
    span {
      font-size: 0.9rem;
      color: #ec7c2d;
      font-weight: 800;
    }
  }
}

.nav-profile-popover {
  border: none;
}
.popover-link {
  color: black;
  font-weight: 500;
  width: 11rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: .8rem;
  &:first-child{
    border-bottom: 1px solid #dddddd;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  display: block;
  background: white;
  text-align: left;
  font-size: 1rem;
  border-radius: 8px;
  &:visited {
    color: black;
  }
  &:hover,
  &:active {
    text-decoration: none;
    color: $color-primary;
  }
}
