li{
    align-items: center;
    color: #202124;
    display: inline;
    font-weight: 500;
    margin: 0;
    padding: 0 16px;
    position: relative;
    font-size:15px;
}
ul{ padding-right:40px;
    
    margin:0;
}
.header
{
    align-items: center;
   
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    color: #202124;
    display: flex;
    font-size: 14px;
    height: 64px;
     width:100%;   
}
a{
    text-decoration: none;
    color:black;  
    align-items: center;;  
}
a:hover{
    color:grey;
}
 .navTabs
 {
     color:white;
     padding-left:5%;
 }
.navItems
{
    display:flex;
    flex:1;
}
.logo
{
    padding:10px;
    padding-left:40px;
}
 
.loginButton
{
    background: transparent;
    padding:20px;
    
}
.loginButton:hover{
    cursor:pointer;
    font-size: 16px;;
}

.hamburger
    {
        display:none;
       text-align:left;
width:100%;
    }
    .hamburger button{
        border:none;
        padding:10px;
        font-size:25px;
        background-color: white;
        cursor:pointer;
    }
    .hamburger button:hover{
        cursor:pointer;
        font-size:17px;
    }
    .sideNav {
     background-color:orange;
        position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    box-shadow: 0 0px 15px 0px #000;
    overflow-y: auto;
    z-index: 9040;

    }
    .logoSideNav
    {
        color:white;
        padding: 0 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    }
    .logoSideNav >h1{
margin-bottom:0;
    }
    .logoSideNav >p
    {
        padding:0;
    }
  
.close 
{
    width: 30px;
    height: 30px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 1px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin: 10px 10px 10px auto;
     
    transition: background-color .5s;
    line-height: 28.5px;
    text-align: center;
    font-size: 24px;

}
@media only screen and (max-width: 800px) {
    .navItems {
      display:none;
    }
    .hamburger
    {
        display:block;
    }
  }
 
.sidebar
{    
    text-align:left;
    padding:0;
}
  .sidebar >li >a{
    align-items: center;
    color: white;
    display: block;
    font-weight: 500;
    margin: 0;
    padding: 0 16px;
    position: relative;
    font-size:15px;
  }
   
   
.icons{
    height:13px;
    margin-right:10px;
    color:white;
}
.error404{
    margin:0 auto;
    padding:20px;
    text-align:center
}
.erro404Inner >img
{
    height:25vw;
     
}