nav.nav-bar {
  margin: 0;
  padding: 1rem 3rem;
  width: 100vw;
  height: 10rem;
  @media (max-width:500px){
      padding:1rem .5rem;
      height:8rem;
  }
  @media (min-width:1200px){
      padding:1rem 6rem;
  }
  display: flex;
  align-items: center;
  @media (max-width:500px){
      justify-content: center;
  }
  .code-img {
    height: 9rem;
    @media (max-width:500px){
        height:7rem;
        position: relative;
        top:2rem;
    }
  }
}
