.upcomingEvents
{
   background: #f8f9fa;
}
.eventsOuter
{
   padding: 70px 130px;
}
 
.eventsWrapper{font-weight: 400;
     border: 1px solid #d0d0d0;
background: #fff;
 }
.eventsCategory
{
   background: #fafafa;
   padding: 14px 24px;
   overflow:auto;
    
   border: 1px solid #e0e0e0;
   
   text-align: left;
   white-space: nowrap;
    display: flex;
    overflow: auto;
}
.eventsCategory  >a 
{
   padding-right:84px;
   font-size:20px;
   font-weight:600;
}

.eventsSubCategory{
   background: #fafafa;
   padding: 14px 24px;
   margin-bottom: 34px;
   border: 1px solid #e0e0e0;
   text-align: left;
   white-space: nowrap;
    display: flex;
    overflow: auto;
   font-size:17px;}
.tab{
   margin-right:37px;
    
   color:grey; 
}

.eventsSubCategory,.eventsCategory >a:active{
   
      color: #f68f4a;
    
}
.eventBody
{
   display: flex;
     
    flex-wrap: wrap;
}
.eventCardContainer
{
 flex:1
}

.tagsContainer{
width:20%;
}
.eventsContainer
{
   display: flex;
flex-wrap: wrap;
justify-content:  flex-start;
padding:20px;
}
@media only screen and (max-width: 600px) {
   .eventsOuter {
     padding: 20px;
   }
   .eventsSubCategory {
     overflow: scroll;
   }
 }
 