.your-box img{
height: 100%;
width: 70px;
margin-bottom: 5px;
}

.container .job-search-btn {
  float: left;
  width: 20%;
  padding: 10px;
  background: #ec8c24;
  color: white;
  font-size: 17px;
  border:  none;
  /* Prevent double borders */
  cursor: pointer;
}

.container .job-search-btn:hover {
  background: #ec7c2d;
}